services:
  postgres:
    image: postgres:14-alpine
    container_name: marketplace_postgres
    environment:
      POSTGRES_DB: marketplace_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: harsh19102029
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d marketplace_dev"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: marketplace_redis
    ports:
      - "6379:6379"
    command: redis-server --requirepass redis_password_123
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.0
    container_name: marketplace_elasticsearch
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data

  backend:
    container_name: marketplace_backend
    build:
      context: ../backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: development
      POSTGRES_DB: marketplace_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: harsh19102029
      DATABASE_URL: postgres://postgres:harsh19102029@postgres:5432/marketplace_dev
      # DATABASE_URL=postgres://postgres:19102029%40Harsh@postgres:5433/marketplace_dev

      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: redis_password_123

      ELASTICSEARCH_URL: http://elasticsearch:9200
    depends_on:
      - postgres
      - redis
      - elasticsearch

volumes:
  postgres_data:
  redis_data:
  elasticsearch_data:
